<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/gerb.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    {% if title !='Авторизация в системе' %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endif %}
    {% block title %}
        <title>{{title}}</title>
    {% endblock %}
    {% block styles %}{% endblock %}
</head>
<body>
{% block header %}
<header>
    {% if title !='Авторизация в системе' %}
    <nav>
        <ul>
            <li class="home"><a href="{{ url_for('index') }}" class="active"><i class="material-icons">home</i></a></li>
            <li><a href="{{ url_for('abiturients') }}">Просмотр заявок</a></li>
            <li><a href="">Создать/изменить анкету</a></li>
        {% if complect == '' %}
            <li><a href="">План комплектования</a></li>
            <li><a href="">Новый год набора</a></li>
            <li><a href="">Отчеты</a></li>
            <li class="fzo">ФЗО</li>
        {% else %}
            <li class="null"><a href=""></a></li>
            <li class="ter">{{ complect }}</li>
        {% endif %}
            <li class="exit"><a href="{{ url_for('logout') }}"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
    </nav>
    {% endif %}
</header>
{% endblock %}
{% block content -%} {% endblock -%}
{% block scripts %}{% endblock %}
</body>
</html>