{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Специальность</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Дата рождения</th>
        <th>Звание</th>
        <th>КО</th>
        <th>Место службы</th>
        <th>Номер группы</th>
        <th>Номер телефона</th>
        <th>Достижения</th>
        <th>Редактирование</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        columns: [
          {data: 'speciality_a'},
          {data: 'surname_a'},
          {data: 'name_a'},
          {data: 'midname_a'},
          {data: 'data_birth_a'},
          {data: 'zvanie'},
          {data: 'complect'},
          {data: 'place_service'},
          {data: 'group_number_a'},
          {data: 'phone_number'},
          {data: 'individual'},
          {data: 'url'}
        ],
      });
    });
  </script>
{% endblock %}